
#header {
    text-align: center;
}

.btn{
    position: center;
}

h4{
    text-align: center;
    padding: 30px;
    background-color: antiquewhite;
    color: white;
}


#city-nav{
    position: relative;
    display: fixed;
}

.sidebar{
    height: 100px;
    width: 100%;
    background: #6486EC;
    padding: 30px 0px;
    position: fixed;
   
  }

.sidebar h6{
    color: white;
    font-size: 15px;
    padding: 3px;
    text-align: center;
}
.sidebar ul li{
    padding: 3px;
    display: inline-block;
}

.side-logo{
    margin-left: auto;
    margin-right: auto;
}

#allmap{
    height: 600px;
    width: 90%;
    margin: 40px auto;
    padding: 40px;
}

#map{
    height: 500px;
    width: 80%;
    margin: 40px auto;
    padding: 40px;
}

#map2{
    height: 400px;
    width: 80%;
    margin: 40px auto;
    padding: 40px;
}

#map3{
    height: 400px;
    width: 80%;
    margin: 40px auto ;
    padding: 40px;
}

#map4{
    height: 400px;
    width: 80%;
    margin: 40px auto;
    padding: 40px;
}

#map5, #map6,#map7,#map8,#map9 {
    height: 400px;
    width: 80%;
    margin: 40px auto;
    padding: 40px;
}

#map10, #map11,#map12,#map13 {
    height: 400px;
    width: 80%;
    margin: 40px auto;
    padding: 40px;
}

#demo-booking-single{
    height: 500px;
    width: 500px;
}


#booking-form{
    padding: 40px;
}

#qr-form{
    padding: 40px;
}